*/xcuserdata/
xcuserdata

.idea/
.DS_Store
.Trashes
*.swp
DerivedData/
build/

bundle/
.bundle/

*.ipa
*.app.dSYM.zip
*.app.dSYM

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

.env
